body {
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 40, 67);
    color: #FFF;
    font-size: 40px;
    background-image: radial-gradient(rgb(26, 61, 20), rgb(83, 135, 224));
}

.main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(50, 122, 81), rgb(78, 196, 78));
}

.row {
    display: flex;
    justify-content: left;
    color: beige;
    text-decoration: underline;
    font-size: 20px;
}

.content {
    display: flex;
    float: left;
    font-size: 20px;
}

.pic {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}